/*=============== ABOUT ===============*/
.about {

  &__container {
    gap: 2.5rem;
    grid-template-columns: 2fr 1fr;
  }
  &__data{
    text-align: left;
  }
  &__description{
    font-size: 1.5rem;
    line-height: 1.125;    
  }
}