/*=============== HEADER ===============*/
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  transition: .5s;
  background: var(--body-color);

  &__shadow{
    box-shadow: var(--box-shadow);
  }

  &__shadow .nav{
    height: calc(var(--header-height) - 1rem);
  }
}

/*=============== NAV ===============*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  &__menu {

  }

  &__list {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
  }

  &__link,
  &__toggle{
    font-size: 1.125rem;
    color: var(--title-color);
    font-weight: var(--font-normal);
  }

  &__link{
    padding: 10px 10px;
  }

  &__toggle {
    display: none;
  }
  /*&__menu{
    @media screen and (max-width: 767px) {
      position: fixed;
      background-color: var(--container-color);
      box-shadow: 0 0 4px rgba(0, 0, 0, .1);
      padding: 2.5rem 0;
      width: 90%;
      top: -100%;
      left: 0;
      right: 0;
      margin: 0 auto;
      transition: .4s;
      border-radius: 1rem;
      z-index: var(--z-fixed);
    }
  }
  &__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
  }
  &__link,
  &__toggle{
    font-size: 1.125rem;
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
  }
  &__logo{
    max-width: 120px;
  }
  &__toggle{
    font-size: 1.3rem;
    cursor: pointer;
  }*/
} 

/* Show menu */
.show-menu {
  top: calc(var(--header-height) + 1rem);
}

/* Active link */

/* Change background header */
