/*=============== SERVICES ===============*/
.services {
  background: var(--gray02);
  padding-bottom: 4.5rem;
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 76px;
    height: 93px;
    background: url("../img/detalhe_intro.svg") no-repeat center;
    position: absolute;
    top: -2.5rem;
    right: 3rem;
    z-index: 10;
  }

  &__container{
    width: 100%;
    
  }

  &__list-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
    margin: 0 auto;
    gap: 40px;

    @media (max-width: 700px) {
      grid-template-columns: 1fr;
    }
  }

  &__card{
    background: var(--gray01);
    border-bottom: 3px solid var(--first-color-light);
    padding: 50px;
    border-radius: 6px;
    box-shadow: var(--box-shadow);

    > i{
      color: var(--first-color-light);
      font-size: 3em;
    }

    h3{
      font-family: var(--body-font);
      font-size: 1.5em;
      margin: 20px 0 10px 0;
    }

    &:hover .services__lear-more-btn i{
      transform: translateX(10px);
    }
  }

  &__description{
   font-size: 1.125em;
   
  }

}