/*=============== SERVICES ===============*/
.services {

  &__container{
    width: 100%;
  }

  &__list-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
    margin: 0 auto;
    gap: 20px;

    @media (max-width: 700px) {
      grid-template-columns: 1fr;
    }
  }

  &__card{
    background: white;
    border-bottom: 3px solid var(--first-color-light);
    padding: 50px;
    border-radius: 6px;
    box-shadow: var(--box-shadow);

    > i{
      color: var(--first-color-light);
      font-size: 3em;
    }

    h3{
      font-family: var(--body-font);
      font-size: 1.5em;
      margin: 20px 0 10px 0;
    }

    &:hover .services__lear-more-btn i{
      transform: translateX(10px);
    }
  }

  &__description{
   font-size: 1.125em;
   
  }

}