/*=============== REUSABLE CSS CLASSES ===============*/
.section{
  padding: 1rem 0;
  
  &__title{
      font-size: var(--h2-font-size);
      color: var(--title-color);
      text-align: left;
      margin-bottom: var(--mb-4);
      position: relative;

      &::before {
        content: "";
        display: block;
        width: 30px;
        height: 10px;
        top: -5px;
        left: 0;
        background: url("../img/detalhe_intro.svg") no-repeat center;
        position: absolute;
        z-index: -1;
      }
  }
  &__title-center{
    text-align: center;
  }
}

.svg{
  &__color{
      fill: var(--first-color);
  }
  &__blob{
      fill: var(--first-color-light);
  }
  &__img{
      width: 300px;
      justify-self: center;
  }
}

/*=============== LAYOUT ===============*/
.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2.5rem;
}

.grid{
  display: grid;
  gap: 1.5rem;
}