/*=============== REUSABLE CSS CLASSES ===============*/
.section{
  padding: 1rem 0;
  
  &__title{
      font-size: var(--h2-font-size);
      color: var(--title-color);
      text-align: left;
      margin-bottom: var(--mb-0-5);
      margin-left: 10px;
      position: relative;

      &::before {
        content: "";
        width: 5px;
        height: 40px;
        background-color: var(--first-color);
        position: absolute;
        top: 0;
        left: -10px;
      }
  }
  &__title-center{
    text-align: center;
  }
}

.svg{
  &__color{
      fill: var(--first-color);
  }
  &__blob{
      fill: var(--first-color-light);
  }
  &__img{
      width: 300px;
      justify-self: center;
  }
}

/*=============== LAYOUT ===============*/
.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2.5rem;
}

.grid{
  display: grid;
  gap: 1.5rem;
}