/*=============== VARIABLES CSS ===============*/
:root{
    --header-height: 4.5rem;

    /*========== Colors ==========*/
    --hue: 45; 
    --sat: 98%; 
    --first-color: hsl(var(--hue), var(--sat), 55%);
    --first-color-light: hsl(var(--hue), var(--sat), 65%);
    --first-color-dark: hsl(var(--hue), var(--sat), 45%);
    --first-color-lighten: hsl(var(--hue), var(--sat), 80%);
    --first-color-alt: hsl(var(--hue), var(--sat), 50%);

    /* Gray */
    --gray01: hsl(var(--hue), 0%, 97%);
    --gray02: hsl(var(--hue), 0%, 93%);
    --gray03: hsl(var(--hue), 0%, 87%);
    --gray04: hsl(var(--hue), 0%, 80%);
    --gray05: hsl(var(--hue), 0%, 70%);
    --gray06: hsl(var(--hue), 0%, 61%);
    --gray07: hsl(var(--hue), 0%, 44%);
    --gray08: hsl(var(--hue), 0%, 35%);
    --gray09: hsl(var(--hue), 0%, 25%);
    --gray10: hsl(var(--hue), 0%, 18%);
    --gray11: hsl(var(--hue), 0%, 10%);
    --gray12: hsl(var(--hue), 0%, 5%);

    --title-color: hsl(var(--hue), 0%, 5%);
    --subtitle-color: hsl(var(--hue), 0%, 35%);
    --text-color: hsl(var(--hue), 0%, 20%);
    --text-color-light: hsl(var(--hue), 4%, 65%);

    --body-color: hsl(var(--hue), 0%, 97%);
    --container-color: #FFF;
    --scroll-bar-color: hsl(var(--hue), 4%, 85%);
    --scroll-thumb-color: hsl(var(--hue), 4%, 75%);
    

    /*========== Font and typography ==========*/
    --body-font: 'Fira Sans', sans-serif;
    --title-font: 'Vollkorn', serif;

    --biggest-font-size: 4.5em;
    --h2-font-size: 4em;
    --h3-font-size: 1.125em;
    --normal-font-size: 1em;
    --small-font-size: .813em;
    --smaller-font-size: .75em;

    // Responsive typography
    @media screen and (max-width: 968px){
        
    }

    /*========== Font weight ==========*/
    --font-semi-bold: 600;
    --font-bold: 700;

    /*========== Margenes ==========*/
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;

    /*========== Box shadow ==========*/
    --box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);

    /*========== Scroll bar colors ==========*/
    
}